<div class="container">
  <div class="form">
    <form [formGroup]="myForm" class="example-form" >
      <h2>Auth</h2>
      <hr>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Your email</mat-label>
        <input matInput placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Your password</mat-label>
        <input matInput placeholder="password" type="password"  formControlName="password">
      </mat-form-field>
      <button (click)="submit()" class="auth-btn" mat-button>To come in</button>
      <button routerLink="/main-page" class="auth-btn" mat-button>Login as a guest</button>
      <a routerLink="/registration">Registration</a>
    </form>
  </div>
</div>
