.search-input {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  padding: 7px 5px;
  background-color: #eee;
  outline: none;

}

img {
  max-width: 100%;
  height: 350px;
}


.photos-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.start-search {
  font-size: 10px;
  color: grey;
}

.pagination-block {
  text-align: center;
}

.btn-favorites {
  margin: 10px;
  background-color: cornflowerblue;
  color: #fff;
}

